<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/590d131412.js" crossorigin="anonymous"></script>
  <title>MercadoLiebre</title>
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img class="logo" src="/images/logo-mercado-liebre.svg">
      <!-- <input type="search">
                <button type="submit"><i class="fa-brands fa-searchengin"></i></button> -->
                <!-- <div>
                  <input type="search" placeholder="Buscar productos, marcas y más">
                  <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
         -->
      <div class="main-header-bottom-bar"></div>
      <h2 class="copy-header">
        <i class="fa-solid fa-hand-holding-dollar">
        </i>Comprá en cuotas y sin tarjeta de
        crédito
      </h2>
    </div>

    <a href="#" class="hamburguer-button">
      <i class="fas fa-bars"></i></a>

    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#" target="_blank">Ofertas</a></li>
        <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
        <li><a href="#" target="_blank">Vender</a></li>
        <li><a href="#" target="_blank">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
        <li><a href="/views/register.html" target="_blank">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
        <li><a href="/views/login.html" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="#" target="_blank">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
      </ul>
    </nav>
  </header>
  <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
</section>
  <main>
    <section class="last-visit">
      <h3>Basado en tu última visita</h3>
      <div class="products">
        <article>
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <h4 class="description">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
    </section>
    <div> 
    <section class="offers">
      <h3>Ofertas</h3>
      <div class="products">
        <article>
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <h4 class="description">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
    </section>
  </div>
  </main>
  <footer>
    <!-- <div class="footer-conteiner" >
    <section class="align-footer">
      <i class="fa-solid fa-credit-card"></i>
      <h3 class="footer-titlle">Pagá con tarjeta o en efectivo></h3>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section class="align-footer">
      <i class="fa-solid fa-gift"></i>

      <h3 class="footer-titlle">Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section class="align-footer">
      <i class="fa-solid fa-user-shield"></i>
      <h3 class="footer-titlle">Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
      </p>
    </section>
  </div>
  <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> -->
  <div class="footer-conteiner">
    <section>
      <i class="fa-solid fa-credit-card"></i>
      <h4><b>Pagá con tarjeta o en efectivo</b></h4>
      <p>
        Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section>
      <i class="fa-solid fa-gift"></i>
      <h4><b>Envío gratis desde $ 2.500</b></h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <i class="fa-solid fa-user-shield"></i>
      <h4><b>Seguridad, de principio a fin</b></h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
        puedas hacer, porque estás siempre protegid@.
      </p>
    </section>
  </div>
  <section>
    <h4>Copyright © 1999-2023 Mercado Liebre S.R.L. // Matias Chaves </h4>
  </section>
</footer>
</body>
</html>