<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/590d131412.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="html" href="/views/home.html">
    <link rel="html" href="/views/register.html">
    <title>Login</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
          <img class="logo" src="/images/logo-mercado-liebre.svg">
          <!-- <input type="search">
                    <button type="submit"><i class="fa-brands fa-searchengin"></i></button> -->
          <div class="main-header-bottom-bar"></div>
          <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar">
            </i>Comprá en cuotas y sin tarjeta de
            crédito
          </h2>
        </div>
    
        <a href="#" class="hamburguer-button">
          <i class="fas fa-bars"></i></a>
    
        <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="#" target="_blank">Ofertas</a></li>
            <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
            <li><a href="#" target="_blank">Vender</a></li>
            <li><a href="#" target="_blank">Ayuda</a></li>
          </ul>
    
          <ul class="right-navbar">
            <li><a href="/views/register.html" target="_blank">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
            <li><a href="/views/login.html" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#" target="_blank">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
        </nav>
      </header>
      <!-- <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de ofertas"> -->
    </section>
    <div class="body-login"> 
    <div class="form-body"> 
    <form action="/">
      <p class="text">Bienvenido a MercadoLiebre</p>
        <label class="name-login">Nombre de usuario:</label>
        <input class="input-login" type="text" name="username" placeholder="Nombre de Usuario">
        <label class="name-login">Ingrese su contraseña:</label>
        <input class="input-login" type="password" name="password" placeholder="Escriba contraseña">
        <button type="submit">Enviar</button>
    </form>
  </div>
</div>
</body>
</html>